/*
$nord00: "#2E3440" 
$nord01: "#3B4252" 
$nord02: "#434C5E" 
$nord03: "#4C566A" 
$nord04: "#D8DEE9" 
$nord05: "#E5E9F0" 
$nord06: "#ECEFF4" 
$nord07: "#8FBCBB" 
$nord08: "#88C0D0" 
$nord09: "#81A1C1" 
$nord10: "#5E81AC" 
$nord11: "#BF616A" 
$nord12: "#D08770" 
$nord13: "#EBCB8B" 
$nord14: "#A3BE8C" 
*nord15: "#B48EAD"
*/

body {
  font-family: 'Raleway', sans-serif !important;
  background: #434C5E;
  color: #D8DEE9 !important;
}

.navigation{
  font-family: 'Raleway', sans-serif !important;
  background: #2E3440 !important;
  color: #D8DEE9 !important;
}

.map {
  margin: 84px 10px 10px 10px;
  position: relative;
}

.actionsbar {
  margin-top: 84px;
  height: 100vh
}

.a.mapboxgl-ctrl-logo {
  opacity: .2 !important;
}